@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body{
	background-color: #e5e5e5;
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
	font-family: 'ABeeZee', sans-serif;
}

a{
	&:hover{
		text-decoration: none;
	}
}

// secondary btn
.secondary_btn{
	background-color: #e5e5e5;
	color: $primary-color;
	border: 1px solid $primary-color;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.2s;
	margin-top: 10px;
		&:hover{
		background-color: $primary-color;
		color: $secondary-color;
		border-color: $secondary-color;
		}
}

// section padding
.section-padding{
	padding: $section-padding;
}

// sidebar padding
.sidebar-padding{
	padding: $sidebar-padding;
}

// section-title
.section-title{
	color: $primary-color;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
	font-family: 'Roboto Slab', serif;
}

// siderbar heading
.sidebar-title{
	text-transform: uppercase;
	font-weight: bold;
}