@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700");
@import url("https://fonts.googleapis.com/css?family=ABeeZee");
/* line 4, ../sass/base/_base.scss */
body {
  background-color: #e9e9e9;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  font-family: 'ABeeZee', sans-serif;
}

/* line 11, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 17, ../sass/base/_base.scss */
.secondary_btn {
  background-color: #e5e5e5;
  color: #ff6633;
  border: 1px solid #ff6633;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
  margin-top: 10px;
}
/* line 26, ../sass/base/_base.scss */
.secondary_btn:hover, .secondary_btn:focus, .secondary_btn:active, .secondary_btn:visited {
  background-color: #ff6633;
  color: #e5e5e5;
  border-color: #222;
  outline: none;
}

/* line 35, ../sass/base/_base.scss */
.section-padding {
  padding: 40px 0;
}

/* line 40, ../sass/base/_base.scss */
.sidebar-padding {
  padding: 20px 0;
}

/* line 45, ../sass/base/_base.scss */
.section-title {
  color: #ff6633;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: 'Roboto Slab', serif;
}

/* line 54, ../sass/base/_base.scss */
.sidebar-title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
}

/* line 1, ../sass/module/_topnav.scss */
.topnav {
  background-color: #ff6633;
  padding: 10px 0;
  margin: 0;
}
/* line 5, ../sass/module/_topnav.scss */
.topnav .logo {
  background-color: red;
}

@media (max-width: 750px) {
  /* line 10, ../sass/module/_topnav.scss */
  .topnav {
    text-align: center;
  }
}
/* line 16, ../sass/module/_topnav.scss */
.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  transition: 0.2s;
}

/* facebook button class*/
/* line 36, ../sass/module/_topnav.scss */
.facebookBtn {
  background: #4060A5;
}

/* line 40, ../sass/module/_topnav.scss */
.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */
}

/* line 45, ../sass/module/_topnav.scss */
.facebookBtn:hover {
  color: #4060A5;
  background: #fff;
}

/* twitter button class*/
/* line 51, ../sass/module/_topnav.scss */
.twitterBtn {
  background: #00ABE3;
}

/* line 55, ../sass/module/_topnav.scss */
.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */
}

/* line 60, ../sass/module/_topnav.scss */
.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
}

/* google plus button class*/
/* line 66, ../sass/module/_topnav.scss */
.googleplusBtn {
  background: #e64522;
}

/* line 70, ../sass/module/_topnav.scss */
.googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  /* add googleplus icon */
}

/* line 75, ../sass/module/_topnav.scss */
.googleplusBtn:hover {
  color: #e64522;
  background: #fff;
}

/* line 1, ../sass/module/_navbar.scss */
.navbar-inverse {
  border-radius: 0;
  margin: 0;
}
/* line 6, ../sass/module/_navbar.scss */
.navbar-inverse ul li a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 768px) {
  /* line 15, ../sass/module/_navbar.scss */
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -30px;
  }
}
/* line 20, ../sass/module/_navbar.scss */
.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

/* line 26, ../sass/module/_navbar.scss */
.stickyNav + .heroslider {
  padding-top: 50px;
}

@media (max-width: 768px) {
  /* line 32, ../sass/module/_navbar.scss */
  .stickyNav + .heroslider {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  /* line 3, ../sass/module/_carousel.scss */
  .heroslider .carousel {
    height: 80vh;
    overflow: hidden;
  }
}
/* line 1, ../sass/module/_sidebar.scss */
.side-fixedBar {
  background-color: #ff6633;
  color: #fff;
}

/* line 3, ../sass/module/_team.scss */
.team--content img {
  border-radius: 50%;
}
/* line 6, ../sass/module/_team.scss */
.team--content h3, .team--content p {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 13, ../sass/module/_team.scss */
.social a {
  font-size: 40px;
  padding: 0 10px;
  color: #ff6633;
  transition: 0.2s;
}
/* line 18, ../sass/module/_team.scss */
.social a:hover {
  color: #222;
}

/* line 2, ../sass/module/_appreciation.scss */
#appreciation .nav a {
  display: block;
}

/* line 5, ../sass/module/_appreciation.scss */
#appreciation .nav {
  background: #e5e5e5;
}

/* line 9, ../sass/module/_appreciation.scss */
#appreciation .nav-pills > li > a {
  border-radius: 0;
}

/* line 13, ../sass/module/_appreciation.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #222;
}

/* line 2, ../sass/module/_gallery.scss */
.gallery .thumbnail {
  background-color: #ff6633;
  padding: 0;
  border-radius: 10px;
}
/* line 6, ../sass/module/_gallery.scss */
.gallery .thumbnail h3, .gallery .thumbnail p {
  color: #e5e5e5;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/* line 2, ../sass/module/_portfolio.scss */
.portfolio--content {
  padding: 20px 0;
}
/* line 5, ../sass/module/_portfolio.scss */
.portfolio--content__title h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #ff6633;
}

/* line 1, ../sass/module/_contact.scss */
.contact {
  background-image: url(https://static.pexels.com/photos/1240/road-street-blur-blurred-landscape.jpg);
  background-size: cover;
}
/* line 4, ../sass/module/_contact.scss */
.contact form {
  color: #fff;
}
/* line 6, ../sass/module/_contact.scss */
.contact form label {
  text-transform: uppercase;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #222;
  color: #ff6633;
  margin: 0;
  border-top: 1px solid #ff6633;
}
/* line 7, ../sass/module/_footer.scss */
footer .footer-abt_us .smGlobalBtn {
  margin: 5px;
}
/* line 11, ../sass/module/_footer.scss */
footer h3 {
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 16, ../sass/module/_footer.scss */
footer .pagenav ul {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/module/_footer.scss */
footer .pagenav ul li {
  list-style: none;
}
/* line 22, ../sass/module/_footer.scss */
footer .pagenav ul li a {
  color: #ff6633;
  text-transform: uppercase;
}
/* line 25, ../sass/module/_footer.scss */
footer .pagenav ul li a:hover {
  color: #fff;
}

/* line 34, ../sass/module/_footer.scss */
.copyright {
  background-color: #ff6633;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
}
/* line 39, ../sass/module/_footer.scss */
.copyright h3 {
  margin: 0;
}

/* line 1, ../sass/module/page/_aboutpage.scss */
.img-padding {
  padding: 40px 0px 0px 0px;
}

/* line 1, ../sass/module/page/_gallerypadding.scss */
.gallery-padding {
  padding: 15px 0px;
}

/* line 5, ../sass/module/page/_gallerypadding.scss */
.gallery-margin {
  margin: 15px 0px;
}

/* line 9, ../sass/module/page/_gallerypadding.scss */
.row > .column {
  padding: 0 8px;
}

/* line 13, ../sass/module/page/_gallerypadding.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/module/page/_gallerypadding.scss */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
/* line 25, ../sass/module/page/_gallerypadding.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
/* line 39, ../sass/module/page/_gallerypadding.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
/* line 49, ../sass/module/page/_gallerypadding.scss */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

/* line 58, ../sass/module/page/_gallerypadding.scss */
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* line 65, ../sass/module/page/_gallerypadding.scss */
.mySlides {
  display: none;
}

/* line 69, ../sass/module/page/_gallerypadding.scss */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* line 74, ../sass/module/page/_gallerypadding.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
/* line 92, ../sass/module/page/_gallerypadding.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 98, ../sass/module/page/_gallerypadding.scss */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/* line 104, ../sass/module/page/_gallerypadding.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* line 112, ../sass/module/page/_gallerypadding.scss */
img {
  margin-bottom: -4px;
}

/* line 116, ../sass/module/page/_gallerypadding.scss */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

/* line 123, ../sass/module/page/_gallerypadding.scss */
.demo {
  opacity: 0.6;
}

/* line 127, ../sass/module/page/_gallerypadding.scss */
.active,
.demo:hover {
  opacity: 1;
}

/* line 132, ../sass/module/page/_gallerypadding.scss */
img.hover-shadow {
  transition: 0.3s;
}

/* line 136, ../sass/module/page/_gallerypadding.scss */
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 2, ../sass/module/page/_portfoliopage.scss */
.card .img-thumbnail {
  border-radius: 0px;
}
