/* line 2, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 8, ../sass/base/_base.scss */
.secondary_btn {
  background-color: #fff;
  color: #222;
  border: 1px solid #222;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}
/* line 16, ../sass/base/_base.scss */
.secondary_btn:hover {
  background-color: #222;
  color: #fff;
  border-color: #fff;
}

/* line 1, ../sass/module/_topnav.scss */
.topnav {
  background-color: #ff6633;
  padding: 10px 0;
  height: 70px;
}

/* line 8, ../sass/module/_topnav.scss */
.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  transition: 0.2s;
}

/* facebook button class*/
/* line 28, ../sass/module/_topnav.scss */
.facebookBtn {
  background: #4060A5;
}

/* line 32, ../sass/module/_topnav.scss */
.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */
}

/* line 37, ../sass/module/_topnav.scss */
.facebookBtn:hover {
  color: #4060A5;
  background: #fff;
}

/* twitter button class*/
/* line 43, ../sass/module/_topnav.scss */
.twitterBtn {
  background: #00ABE3;
}

/* line 47, ../sass/module/_topnav.scss */
.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */
}

/* line 52, ../sass/module/_topnav.scss */
.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
}

/* google plus button class*/
/* line 58, ../sass/module/_topnav.scss */
.googleplusBtn {
  background: #e64522;
}

/* line 62, ../sass/module/_topnav.scss */
.googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  /* add googleplus icon */
}

/* line 67, ../sass/module/_topnav.scss */
.googleplusBtn:hover {
  color: #e64522;
  background: #fff;
}
