.contact{
	background-image: url(https://static.pexels.com/photos/1240/road-street-blur-blurred-landscape.jpg);
	background-size: cover;
		form{
			color: #fff;
		label{
			text-transform: uppercase;
		}
	}
}