.navbar-inverse{
	border-radius: 0;
	// border-bottom-color: $primary-color;
	margin: 0;
	ul li{
		a{
			color: #fff !important;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

@media ("min-width: 768px") {
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-left: -30px;
}
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.stickyNav + .heroslider {
  padding-top: 50px;
}


@media ("max-width: 768px"){
	.stickyNav + .heroslider {
  padding-top: 60px;
}
}